.container{
    width: 300px;
    height: 250px;
    background: radial-gradient(#66a542,#b558b2);
    border: 5px  dotted rgb(99, 106, 189)
}
#blur{
    width: 350px;
    height: 350px;
    background: radial-gradient(hwb(87 20% 33%),hwb(302 5% 69%));
    border-radius: 100%;

}
h1{
    text-shadow: 2px 2px 4px rgba(14, 20, 129, 0.5);
}
.spark{
    width: 150px;
    height: 150px;
    box-shadow: 3px  2px 3px 2px green
    
    
}
.spark{
    text-shadow: 2px 2px 4px brown
}