 
h1{
    color: aqua;
    text-align: center;
}
#para{
    color: blue;
}
.container>p{
    color: chocolate;
}
.container~h1{
    text-decoration:overline;
}
 
a:link{
    color: black;
}
a:visited{
    color: cadetblue;
}
a:hover{
    cursor:crosshair
}